.extras
.git
.scannerwork
.vscode
coverage
dist
log
node_modules
**/node_modules
frontend/node_modules
frontend/.angular
frontend/dist
frontend/test-results
test
prisma/schema.prisma
src/config/resources/tls/private-key.pem
.depcheckrc.yml
.editorconfig
.eslint.config.mts
.git*
.hadolint.yaml
.markdownlint*
.prettier*
.snyk
Dockerfile*
Jenkinsfile
prettier.config.mts
sonar-project.properties
ToDo.md
typedoc.mjs
vitest.config.ts
Zusammenfassung.md
