<div class="app-header d-flex align-items-center">
  <a routerLink="/" class="me-auto h5 text-decoration-none">Buch</a>

  <div class="me-3">
    <a (click)="navigateToSuche()" class="btn btn-outline-secondary btn-sm"
      >Suche</a
    >
  </div>

  <div
    *ngIf="!(authState$ | async); else logged"
    class="d-flex align-items-center"
  >
    <input
      [(ngModel)]="user"
      placeholder="Benutzer"
      class="form-control form-control-sm me-2"
      style="width: 120px"
    />
    <input
      [(ngModel)]="pass"
      placeholder="Passwort"
      type="password"
      class="form-control form-control-sm me-2"
      style="width: 120px"
    />
    <button class="btn btn-primary btn-sm" (click)="login()">Login</button>
  </div>

  <ng-template #logged>
    <div class="d-flex align-items-center">
      <button
        *ngIf="auth.isAuthenticated()"
        class="btn btn-success btn-sm me-2"
        (click)="navigateToNeu()"
      >
        Neu anlegen
      </button>
      <button class="btn btn-outline-secondary btn-sm" (click)="logout()">
        Logout
      </button>
    </div>
  </ng-template>
</div>
